<div class="card-template">
    <h4 class="subtitle has-text-centered">Prix Unitare : <%= @negotiation.gig.price %></h4>
    <h1 class="title has-text-centered"><%= negotiation_offer.price %></h1>
        <%= form_with model: @negotiation_offer, html: { data: { type: "html", reflex: "ajax:success->NegotiationOffer#replied", offer_id: negotiation_offer.id} } do |f| %>
            <%= f.hidden_field :user_id, value: current_user.id %>
            <%= f.hidden_field :negotiation_id, value: @negotiation.id %>
            <div class="field is-one-third">
                <label class="label">Négotier le prix</label>
                <%= f.number_field :price, placeholder: "Insérer votre prix", class: "input input-grey", data: { target: "negotiation-offer.negotiationInput" } %>
            </div>
            <div class="control">    
                <%= f.submit "Répondre", class: "button is-info is-fullwidth" %>
            </div>
        <% end %>
        <div>
            <%= button_to "Accepter", accept_negotiation_path(negotiation_id: @negotiation), class: "button is-success is-fullwidth" %>
        </div>
        <div>
            <%= button_to "Refuser", reject_negotiation_path(negotiation_id: @negotiation), class: "button is-danger is-fullwidth" %>
        </div>
    <span class="has-text-left is-size-7">Crée il y'a <%= time_ago_in_words(negotiation_offer.created_at) %></span>
</div>