<div class="columns align-items-center">
  <div class="column is-1">
    <%= basket_item.quantity %>
  </div>
  <div class="column is-2">
    <figure class="is-128x128 image">
      <%#= image_tag(basket_item.gig.image_url) %>
    </figure>
  </div>
  <div class="column is-9">
    <strong><%= basket_item.gig.title %></strong>
    <div class="columns align-items-center">
      <div class="content column is-9">
        <%= basket_item.gig.description %>
      </div>
      <div class="column is-3 has-text-right">
        <strong class="f4"><%= basket_item.total_price %></strong>
      </div>
    </div>
  </div>
</div>

<div class="has-text-right">
  <%= link_to 'Remove Item', basket_item, method: :delete, data: { confirm: "Are you sure? " }, class: "button is-small mb4" %>
</div>

<hr/ >