<%= form_with(model: basket_item, local: true) do |form| %>
  <% if basket_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(basket_item.errors.count, "error") %> prohibited this basket_item from being saved:</h2>

      <ul>
      <% basket_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :gig_id %>
    <%= form.text_field :gig_id %>
  </div>

  <div class="field">
    <%= form.label :basket_id %>
    <%= form.text_field :basket_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
