<section class="section">
  <div class="container">
    <div class="columns">

      <!-- LEFT SIDE -->
      <div class="column is-one-third">
        <div class="columns is-multiline">

          <!-- Top Card -->
          <div class="column is-full">
            <div class="card">

              <!-- Avatar -->
              <div class="card-content is-horizontal-center is-flex">
                <figure class="image is-128x128">
                  <%= image_tag avatar_url(@user), class: "is-rounded" %>

                </figure>
              </div>

              <div class="card-content">

                <!-- Upload Button -->
                <div class="content has-text-centered">
                  <p class="title is-5">
                    <%= @user.full_name %>
                  </p>

                </div>
                <hr class="h-10">

                <!-- Member -->
                <article class="media">
                  <div class="media-content">Member since</div>
                  <div class="media-right">
                    <strong><%= current_user.created_at.strftime('%b %Y') %></strong>

                  </div>
                </article>
                <hr class="h-10">

                <!-- From -->
                <article>
                  <div class="media">
                    <div class="media-content">From</div>
                    <div class="media-right">
                      <strong><%= @user.from %> </strong>
                    </div>
                  </div>






                </article>
                
                <hr class="h-10">

                <!-- Online Status -->
                <article class="media">
                  <div class="media-content">Online status</div>
                  <div class="media-right">
                    <strong><% if @user.status %> Online <% else %> Offline
                      <% end %>
                    </strong>
                  </div>
                </div>



              </article>

            </div>
          </div>
        </div>

        <!-- Bottom Card -->
        <div class="column is-full">
          <div class="card">
            <div class="card-content">

              <!-- About -->
              <article>
                <div class="media">
                  <div class="media-content">
                    <p>
                      <strong>About Me</strong>
                      <br>
                      <%= @user.about %>
                    </p>
                  </div>
                </div>
              </article>
              <hr class="h-10">

              <!-- Languages -->
              <article>

                <div class="media">
                  <div class="media-content">
                    <p>
                      <strong>Language</strong>
                      <br>
                      <%= @user.language %>
                    </p>
                  </div>

                  
                </div>

               
              </article>
              <hr class="h-10">

              <!-- Linked Account -->
              <article class="media"></article>

            </div>
          </div>
        </div>

      </div>


    <!-- RIGHT SIDE -->
    <div class="column">
      <div class="card">
        <div class="card-header">
          <div class="card-header-title">Latest Reviews</div>
          </div>
          <div class="card-content">
            <article class="media">
              <figure class="media-left">
                <p class="image is-64x64">
                <%= image_tag avatar_url(@user), class: "is-rounded" %>
              </p>
              </figure>
              <div class="media-content">
              <div class="content">
                <p>
                  <strong>My name</strong><br />
                  
                  An extension for Sublime Text 2 and 3! It allows you to Insert Lorem Ipsum in the editor via menu items or keyboard shortcut. Select how much text you want from the menu item in Edit->Text->Lorem Ipsum or on the right click menu in Lorem Ipsum . Just press the shortcut key (Alt+Shift+L) to add Lorem Ipsum text.
                </p>
                <small>31m</small>
              </div>
            </div>

            <div class="media-right">
              <span class="star-review"><i class="fa fa-star"></i> 5.0 </span>
            </div>
          </article>


      </div>
    </div>

  </div>
</div>
</div>

</section>
