        <% @gigs.each do |gig| %>

          <div class="column is-one-third">
            <div class="card">

              <div class="card-image">
                <%= link_to gig_path(gig) do %>
                <figure class="image is-4by3">
                  <%= image_tag gig_cover(gig) %>
                </figure>
                <% end %>
              </div>

              <div class="card-content p-t-5 p-b-5">
                <p class="subtitle is-6 m-b-5"><%= link_to gig.title, gig_path(gig) %></p>
                <span class="star-review"><i class="fa fa-star"></i>
                  <%= gig.average_rating %>
                  <span class="has-text-primary">(<%= gig.reviews.count %>)</span>
                </span>                                        
              </div>

              <footer class="card-footer">
                <a class="card-footer-item">
                  <figure class="image is-32x32">
                    <%= image_tag avatar_url(gig.user), class: "is-rounded" %>
                  </figure>
                </a>
                <a class="has-text-danger is-block card-footer-item has-text-right">
                  <span class="small-title">STARTING AT</span> 
                  <strong>$<%= gig.price %></strong>
                                        
                </a>
              </footer>  

            </div>
          </div>
          <% end %>
