<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
  <div class="container">
  <div class="navbar-brand">
    <a class="navbar-item" href="#">

   <h1 class="title is-4">Freelance</h1>
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
    <div class="navbar-item">
    <div class="field has-addons">
  <div class="control">
    <input class="input" type="text" placeholder="Find services">
  </div>
  <div class="control">
    <a class="button is-warning">
      Search
    </a>
  </div>
</div>
    </div>
    </div>

    <div class="navbar-end">
       <%= link_to 'Home', root_path, class: "navbar-item" %>
      <a class="navbar-item">Post Gig</a>
      <a class="navbar-item">Browse Gigs</a>

      <% if !user_signed_in? %>
      <div class="navbar-item">
        <div class="buttons">
          <%= link_to "Sign up", new_user_registration_path, class: "button is-danger" %>
           <%= link_to "Log in", new_user_session_path, class: "button is-light" %>
         </div>
       </div>

      <% else %>
      <div class="navbar-item has-dropdown is-hoverable">
      <a class="navbar-item">Hello, <%= current_user.full_name %></a>
      <div class ="navbar-dropdown">
      <a href="" class="navbar-item">Dashboard</a>
        <%= link_to "Profile", edit_user_registration_path, class: "navbar-item" %>
      <hr class="navbar-divider">
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "navbar-item" %>
      </div>
      </div>
    <% end %>
  </div>
</div>
</nav>

<script>
$(document).ready(function() {

  // Check for click events on the navbar burger icon
  $(".navbar-burger").click(function() {

      // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
      $(".navbar-burger").toggleClass("is-active");
      $(".navbar-menu").toggleClass("is-active");

  });
});

</script>