<section class="section">
  <div class="container">
    <p class="title">
      All requests

     <%= link_to "Post a request", new_request_path, class: "button is-primary is-pulled-right" %>

    </p>
    <div class="card">
      <div class="card-header">
        <%= form_tag '', method: :get do %>

        <div class="field p-10">
          <div class="select">
            <%= select_tag 'category', content_tag(:option, 'All Categories', value: "") + options_for_select(@categories.map { |c| [c.name, c.id ]}, selected: @category_id), onchange: "this.form.submit();" %>

          </div>
        </div>

        <% end %>

      </div>
      <div class="card-content">
        <table class="table is-fullwidth">
          <thead>
            <tr>
              <th>Date</th>
               <th>Buyer</th>
                <th>Requests</th>
                <th class="has-text-centered">Offers</th>
               <th class="has-text-centered">Duration</th>
              <th class="has-text-centered">Budget</th>
            </tr>
          </thead>
          <tbody>
               <% if @requests.blank? %>
            <tr>
              <td colspan="6" class="has-text-centered"><h1>NOTHING TO SHOW HERE</h1></td>
            </tr>
            <% end %>
            <% @requests.each do |r| %>
            <tr>
               <td><%= r.created_at.strftime('%d, %b, %Y')%></td>
               <td>
                 <figure class="image is-48x48">
                  <%= image_tag avatar_url(r.user), class: "is-rounded" %>
                </figure>
               </td>
                <td>
                  <%= link_to request_path(r), class: "tooltip" do %>
                  <label for="" class="tooltip" data-tooltip="<%= r.description %>">
                    <%= r.title.truncate(25, seperator: ' ') %>
                  </label>
                  <% end %>

                </td>
                 <td class="has-text-right">5</td>
               <td class="has-text-right"><%= pluralize(r.delivery, 'day') %></td>
               <td class="has-text-right"><%= r.budget %></td>
             </tr>
             <% end %>
             </tbody>

        </table>

     
      </div>

    </div>




  </div>
  

</section>