<section class="section">
  <div class="container">
  <div class="form-container">
    <p class="title is-4 has-text-centered">Quelle produit recherché vous ?</p>
    <%= form_for @request do |f| %>
      <div class="field">
        <label class="label">Nom</label>
        <%= f.text_field :title, placeholder: "Je cherches....", class: "input" %>
      </div>
      <div class="field">
        <label class="label">Description</label>
        <%= f.text_area :description, placeholder: "Ajoutez des détails....", class: "textarea" %>
      </div>

      <div class="field">
        <label class="label">Choisissez une categorie</label>
        <div class="select is-fullwidth">
          <%= f.select(:category_id, options_for_select(@categories.map { |c| [c.name, c.id] })) %>
        </div>
      </div>

      <div class="field">
        <label class="label">Livrable</label>
        <%= f.number_field :delivery, placeholder: "1-30 jours", class: "input" %>
      </div>


      <div class="field">
        <label class="label">Budget</label>
        <%= f.number_field :budget, placeholder: "12000 minimum", class: "input" %>
      </div>

      <div class="field">
        <label class="label">Attachez un fichier (Optionelle)</label>
        <div class="
        file is-warning has-name">
        <label class="file-label">
          <%= f.file_field :attachment_file, class: "file-input" %>
          <span class="file-cta"><span class="file-label">Choisissez un fichier...</span></span>
          <span class="file-name" id="file_name">Aucun fichier sélectionné</span>
        </label>
      </div>
    </div>
    <div class="field has-text-centered">
      <%= f.submit 'Poster votre requette', class: 'button is-primary' %>
      </div>
    <% end %>
  </div>
</div>
</section>

<script>
  $(document).ready(function() {
    var file = $('.file-input');
    file.change(function(e) {
      if (file[0].files.length > 0) {
        var attachment = file[0].files[0];
        $('.file-name').text(attachment.name + " (" + attachment.size + "bytes)");
      }
    })
  })
</script>
