<section class="section">
  <div class="container">
 <p class="title">View Offers</p>
 <table class="table is-fullwidth">
  <thead>
    <tr>

      <th>Date</th>
      <th>Seller Name</th>
      <th>Notes</th>
      <th>Amount</th>
      <th>Deliver in</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% if @offers.blank? %>
    <tr>
      <td colspan="7" class="has-text-centered"><h1>Nothing to Show Here</h1></td>
    </tr>
    <% end %>
    <% @offers.each do |o| %>
    <tr>

      <td><%= o.created_at.strftime(' %d, %b %Y' ) %></td>
       <td>
         <figure class="image is-48x48">
          <%= image_tag avatar_url(o.user), class: "is-rounded" %>
        </figure>
       </td>
        <span class="tag <%=  'is-warning' if o.pending? %>
            <%=  'is-success' if o.pending? %>
            <%=  'is-danger' if o.pending? %>">
            <%= o.status.capitalize %>
          </span>
        </td>
          <td>
            <%= link_to accept_offer_path(o), method: :put,
            data: { confirm: "Are you sure?" },
             class: "button is-small is-primary is outlined #{'is-hidden' if !o.pending?}" do %> 
             <span class="icon"><i class="far fa-check-circle fa-lg"></i></span>
             <span>Accept</span>
            <% end %>
              <%= link_to reject_offer_path(o), method: :put,
            data: { confirm: "Are you sure?" },
             class: "button is-small is-danger is outlined #{'is-hidden' if !o.pending?}" do %> 
             <span class="icon"><i class="far fa-time-circle fa-lg"></i></span>
             <span>Reject</span>
            <% end %>

        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
</section>







