

<section class="section">
  <div class="container">

    <p class="title">Manage Buying Orders</p>
    <table class="table is-fullwidth">
      <thead>
        <tr>
          <th>Date</th>
          <th>Seller Name</th>
          <th>Title</th>
          <th>Due Date</th>
          <th>Amount</th>
          <th>Status</th>
          <th>Action</th>
          

        </tr>

      </thead>
      <tbody>

        <% if @orders.blank? %>
        <tr>
          <td colspan="7" class="has-text-centered"><h1>NOTHING TO SHOW HERE</h1></td>
        </tr>
        <% end %>
        <% @orders.each do |o| %>
        <tr>
          <td><%= o.created_at.strftime('%d %b %y') %></td>
          <td><%= o.seller_name %></td>
          <td><%= link_to o.title, gig_path(o.gig) if o.gig.nil?  %>

          </td>
          <td><%= o.due_date.strftime('%d %b %y')  %></td>
          <td><%= o.amount %></td>
          <td>
            <span class="tag <%= 'is-warning' if o.inprogress? %> <%= 'is-success' if o.completed? %>">
              <%= o.status.capitalize %>
            </span>
          </td>
          <td>
            <% if !o.completed? %>
            <%= link_to 'Mark Complete', complete_order_path(o), method: :put, class: "button is-small is-primary #{'is-hidden' if o.completed?}" %>

       <% else %>
       <a class="button is-small is-oulined is-danger toggle-modal" aria-control="<%= o.id %>">Rating</a>

       <div class="modal" id="<%= o.id %>">
        <div class="modal-background"></div>
        <div class="modal-content">
          <div class="box">
            <%= form_for Review.new do |f| %>
            <%= f.hidden_field :order_id, value: o.id %>
            <div class="field">
              <div id="star_<%= o.id %>"></div>
            </div>
            <div class="field">
              <%= f.text_area :review, class: "textarea" %>
            </div>
            <a class="toggle-modal button is-light" aria-control="<%= o.id%>">Cancel</a>
            <%= f.submit "Add Review", class: "button is-danger" %>
            <% end %>
          </div>
        </div>
      </div>
      <% end %>


          </td>

        </tr>
        <% end %>
      </tbody>

    </table>
  </div>
</section>


<script>

  $('.toggle-modal').on('click', (e) => {
    e.stopPropagation();
    e.preventDefault();

    var order_id = e.target.getAttribute('aria-control');
    $('#star_' + order_id).raty({
      path: '/assets/raty-js/lib/images',
      scoreName: 'review[stars]',
      score: 1

    });
    $('#star_' + order_id).raty('reload');
    $('#' + order_id).toggleClass('is-active');
  });

  </script>