
<section class="hero is-medium has-carousel">
    <div class="container">
    <divclass="hero-carousel">


        <div class="carousel-item">
            <div class="p-10">
                <%= image_tag "home/slider1.jpg", class: "is-background", width: "100%", height: "100%" %>
            </div>
        </div>

        <div class="carousel-item">
            <div class="p-10">
                <%= image_tag "home/slider2.jpg", class: "is-background", width: "100%", height: "100%" %>
            </div>
        </div>

        <div class="carousel-item">
            <div class="p-10">
                <%= image_tag "home/slider3.jpg", class: "is-background", width: "100%", height: "100%" %>
            </div>
        </div>

        <div class="carousel-item">
            <div class="p-10">
                <%= image_tag "home/slider4.jpg", class: "is-background", width: "100%", height: "100%" %>
            </div>
        </div>

        <div class="carousel-item">
            <div class="p-10">
                <%= image_tag "home/slider5.jpg", class: "is-background", width: "100%", height: "100%" %>
            </div>
        </div>
    </div>
  </div>
</div>
  </section>

  


  <script>


 BulmaCarousel.attach('.hero-carousel', {
    slidesToScroll: 1,
    slidesToShow: 1,
  });


  </script>