<section class="hero is-warning is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-6-table is-6-desktop is-6-widescreen">
          <div class="box">
            <div class="field has-text-centered">
              <strong>Log in</strong>
            </div>


            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="field">
              <%= f.label :email, class: "label" %>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input" %>
            </div>

            <div class="field">
              <%= f.label :password, class: "label" %>
              <%= f.password_field :password, autocomplete: "current-password" , class: "input"%>
            </div>

            <% if devise_mapping.rememberable? %>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
            <% end %>

            <div class="actions">
              <%= f.submit "Log in", class: "button is-danger is-fullwidth m-t-10 m-b-10" %>
            </div>
            <% end %>

            <div class="actions">
                <%= link_to "Se connecter avec Facebook", user_facebook_omniauth_authorize_path, class: "button is-primary is-fullwidth m-t-10 m-b-10" %>
            </div>

            <%= render "devise/shared/links" %>



          </div>
        </div>
      </div>
    </div>
  </div>
</section>


