<div class="step-content has-text-centered <%= 'is-active' if @step == 5 %>">
  <div>

    <%= hidden_field_tag 'active', 'true' if @step == 5 %>
    <strong class="is-size-2">Almost there...</strong>
    <p>Let's publish your Gig and get some buyers rolling in.</p>
  </div>

</div>

<div class="field is-grouped is-grouped-centered m-t-25">
  <p class="control <%= 'is-hidden' if @step <= 1 %>">
    <%= link_to 'Back', edit_gig_path(@gig, step: @step -1), class: "button is-light" %>
  </p>


  <p class="control">
    <% if @step != 5 %>
    <%= f.submit 'Save & Continue', class: "button is-primary" %>
    <% else %>
    <%= link_to 'publish', gig_path(@gig.id, gig: {active: true}, step: @step), method: :put,
    data: {confirm: "Do you want to publish this gig?"},
    class: "button is-danger" %>
    <% end %>

  </p>
</div>
