
<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container">
            <div class="card-header card-template">
                <!-- Category -->
                <div class="card-header-title">
                    Creer une annonce pour un produit
                </div>
            </div>
            <%= form_for @gig, html: {class: "steps-content"} do |f| %>
                <div class="columns">
                    <div class="column is-6-table is-6-desktop is-6-widescreen">
                        <div class="card-template">
                            <div class="field">
                                <h4 class="has-text-centered">Aperçu</h4>
                            </div>
                            <div class="field">
                                <label class="label">Titre de l&#39;annonce</label>
                                <%= f.text_field :title, autocomplete: "title", class: "input input-grey" %>
                            </div>
                            <div class="field">
                                <label class="label">Catégorie</label>
                                <div class="select">
                                    <%= f.select(:category_id, options_for_select(@categories.map{ |c| [c.name, c.id] }, selected: @gig.category_id)) %>
                                </div>
                            </div>
                            <div class="field is-one-third">
                                <label class="label">Prix</label>
                                <%= f.number_field :price, class: "input input-grey" %>
                            </div>
                            <div class="field">
                                <label for="" class="label">Description</label>
                                <%= f.text_area :description, class: "textarea input-grey" %>
                            </div>
                        </div>
                    </div>
                    <div class="column is-6-table is-6-desktop is-6-widescreen">
                        <div class="card-template">
                            <div class="field">
                                <h4 class="has-text-centered">Media</h4>
                            </div>
                            <div class="field">
                                <label for="" class="label">Ajouter une gallerie a votre annonce</label>
                                <div class="control">
                                    <div class="m-b-20">
                                        #<div class="dropzone" id="myDropzone" action="/gigs/<%= @gig.id %>/upload_photo"></div>
                                        #<#%= f.file_field :picture, class: 'form-control', direct_upload: true  %>
                                        <%= cl_image_upload_tag(:image_id) %>
                                    </div>

                                    <div class="columns is-multiline" style: width: 100%%>
                                        <% @gig.photos.each do |photo| %>
                                            <div class="column is-one-fifth">
                                                <div class="card is-image">
                                                    <div class="card-image">
                                                        <%= link_to 'Supprimer', delete_photo_gig_url(photo_id: photo.id, id: @gig.id), 
                                                        method: :delete,
                                                        data: { confirm: "Êtes-vous sûr?" },
                                                        class: "delete delete-file is-pulled-right",
                                                            style: "z-index: 100"  %>

                                                            <figure class="image is-4by3">
                                                                <%= image_tag url_for(photo) %>
                                                            </figure>
                                                    </div>
                                                </div>
                                            </div>
                                        <% end %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="columns">
                    <div class="column">
                        <div class="field is-grouped is-grouped-centered m-t-25">
                            <a href="" data-nav="previous" class="button is-warning">Annuler</a>
                            <%= f.submit "Enregistrer & continuer", class: "button is-primary" %>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</section>

<%= cloudinary_js_config %>

<script>
  $(document).ready(function() {
    // Cloudinary jQuery integration library uses jQuery File Upload widget
    // (see http://blueimp.github.io/jQuery-File-Upload/).
    // Any file input field with cloudinary-fileupload class is automatically
    // wrapped using the File Upload widget and configured for Cloudinary uploads.
    // You can further customize the configuration using .fileupload method
    // as we do below.
    $(".cloudinary-fileupload")
      .cloudinary_fileupload({
        // Uncomment the following lines to enable client side image resizing and valiation.
        // Make sure cloudinary/processing is included the js file
        //disableImageResize: false,
        //imageMaxWidth: 800,
        //imageMaxHeight: 600,
        //acceptFileTypes: /(\.|\/)(gif|jpe?g|png|bmp|ico)$/i,
        //maxFileSize: 20000000, // 20MB
        dropZone: "#direct_upload",
        start: function (e) {
          $(".status").text("Starting upload...");
        },
        progress: function (e, data) {
          $(".status").text("Uploading... " + Math.round((data.loaded * 100.0) / data.total) + "%");
        },
        fail: function (e, data) {
          $(".status").text("Upload failed");
        }
      })
      .off("cloudinarydone").on("cloudinarydone", function (e, data) {
        $("#photo_bytes").val(data.result.bytes);
        $(".status").text("");
        var preview = $(".preview").html('');
        $.cloudinary.image(data.result.public_id, {
          format: data.result.format, width: 50, height: 50, crop: "fit"
        }).appendTo(preview);

        $('<a/>').
          addClass('delete_by_token').
          attr({href: '#'}).
          data({delete_token: data.result.delete_token}).
          html('&times;').
          appendTo(preview).
          click(function(e) {
            e.preventDefault();
            $.cloudinary.delete_by_token($(this).data('delete_token')).done(function(){
              $('.preview').html('');
              $('#info').html('');
              $("#photo_bytes").val('');
              $('input[name="photo[image]"]').remove();
            }).fail(function() {
              $('.status').text("Cannot delete image");
          });
        });
        view_upload_details(data.result);
      });
    });

    function view_upload_details(upload) {
      // Build an html table out of the upload object
      var rows = [];
      $.each(upload, function(k,v){
        rows.push(
          $("<tr>")
            .append($("<td>").text(k))
            .append($("<td>").text(JSON.stringify(v))));
      });
      $("#info").html(
        $("<div class=\"upload_details\">")
          .append("<h2>Upload metadata:</h2>")
          .append($("<table>").append(rows)));
    }
</script>
});