<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container">
            <div class="card-header card-template">
                <!-- Category -->
                <div class="card-header-title">
                    Creer une annonce pour un produit
                </div>
            </div>
            <%= form_for @gig, html: {class: "steps-content"} do |f| %>
                <div class="columns">
                    <div class="column is-6-table is-6-desktop is-6-widescreen">
                        <div class="card-template">
                            <div class="field">
                                <h4 class="has-text-centered">Aperçu</h4>
                            </div>
                            <div class="field">
                                <label class="label">Titre de l&#39;annonce</label>
                                <%= f.text_field :title, autocomplete: "title", class: "input input-grey" %>
                            </div>
                            <div class="field">
                                <label class="label">Catégorie</label>
                                <%= f.select(:category_id, options_for_select(@categories.map{ |c| [c.name, c.id] }, selected: @gig.category_id)) %>
                            </div>
                            <div class="field is-one-third">
                                <label class="label">Prix</label>
                                <%= f.number_field :price, class: "input input-grey" %>
                            </div>
                            <div class="field">
                                <label for="" class="label">Description</label>
                                <%= f.text_area :description, class: "textarea input-grey" %>
                            </div>
                        </div>
                    </div>
                    <div class="column is-6-table is-6-desktop is-6-widescreen">
                        <div class="card-template">
                            <div class="field">
                                <h4 class="has-text-centered">Media</h4>
                            </div>
                            <div class="field">
                                <label for="" class="label">Ajouter une gallerie a votre annonce</label>
                                <div class="control">
                                    <div class="m-b-20">
                                        <div class="dropzone" id="myDropzone" action="/gigs/<%= @gig.id %>/upload_photo"></div>
                                    </div>

                                    <div class="columns is-multiline" style: width: 100%%>
                                        <% @gig.photos.each do |photo| %>
                                            <div class="column is-one-fifth">
                                                <div class="card is-image">
                                                    <div class="card-image">
                                                        <%= link_to 'Supprimer', delete_photo_gig_url(photo_id: photo.id, id: @gig.id), 
                                                        method: :delete,
                                                        data: { confirm: "Êtes-vous sûr?" },
                                                        class: "delete delete-file is-pulled-right",
                                                            style: "z-index: 100"  %>

                                                            <figure class="image is-4by3">
                                                                <%= image_tag url_for(photo) %>
                                                            </figure>
                                                    </div>
                                                </div>
                                            </div>
                                        <% end %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="columns">
                    <div class="column">
                        <div class="field is-grouped is-grouped-centered m-t-25">
                            <a href="" data-nav="previous" class="button is-warning">Annuler</a>
                            <%= f.submit "Enregistrer & continuer", class: "button is-primary" %>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</section>

script>
        Dropzone.options.myDropzone = {
            paramName: "file",
            maxFilesize: 2,
            acceptedFiles: "image/*",
            dictDefaultMessage: "Déposer des fichiers ici",
            init: function() {
                this.on('complete', function (file) {
                    location.reload();
                })
            }
        }
    </script>
