<% content_for :head do %>
<meta name="turbolinks-cache-control" content="no-cache">
<% end %>

<%= render 'shared/categories' %>

<section class="section">
    <div class="container">
        <div class="columns">

            <!-- LEFT SIDE -->
            <div class="column is-two-thirds">
                <div class="columns is-multiline">
                    <!-- Carousel -->
                    <div class="column is-full">   
                        <div class="card annonces">
                            <div class="card-content">
                                <div class="content">
                                    <p class="title is-4"><%= @gig.title %></p>
                                </div>
                                <div class="hero-carousel" id="carousel-photo">
                                    <% @gig.photos.each do |photo| %>
                                        <div class="carousel-item has-background image is-16by9">
                                            <%= image_tag url_for(photo), class: "is-background", width: "100%" %>
                                        </div>
                                    <% end %>
                                    <% if @gig.video.present? %>
                                        <div class="video-container">
                                            <iframe src="https://www.youtube.com/embed/<%= @gig.video %>" allowfullscreen></iframe>
                                        </div>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- About Section -->
                    <div class="column is-full">
                        <div class="card card-template">
                            <div class="card-content">
                                <article class="media">
                                    <div class="media-content">
                                        <h3><strong>A propos du produit</strong></h3>
                                        <%= @gig.description %>
                                    </div>
                                </article>
                            </div>
                        </div>                        
                    </div>

                    <!-- Review Section -->
                    <div class="column is-full">
                        <div class="card card-template">
                            <div class="card-content">
                                <article class="media">
                                    <div class="media-content">
                                        <h3><strong>Revues</strong></h3>
                                        Les revues seront ici
                                    </div>
                                </article>
                            </div>
                        </div>                        
                    </div>
            </div>
        </div>

        <!-- RIGHT SIDE -->
        <div class="column">
            <div class="columns is-multiline">

            <!-- Pricing Section -->
            <div class="column is-full">
                <div class="tabs-content">
                    <div class="tab-content">
                        <div class="card card-template">
                            <div class="card-content">
                                <p class="title is-4 has-text-centered"><%= @gig.price %> fcfa</p>
                                <% if (!user_signed_in? && @gig.active) || (user_signed_in? && @gig.active && @gig.user_id != current_user.id) %>
                                    <%= button_to "Ajouter au pagner", basket_items_path(gig_id: @gig), class: "button is-fullwidth is-primary" %>
                                <% else %>
                                    <button class="button is-fullwidth is-danger" disabled>Not Available</button>  
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Profile Section -->
            <div class="column">
                <div class="card card-template">
                    <div class="card-content is-horizontal-center is-flex">
                        <%= link_to users_path(@gig.user) do %>
                            <figure class="image is-96x96">
                                <%= image_tag avatar_url(@gig.user), class: "is-rounded" %>
                            </figure>
                        <% end %>
                    </div>
                    <div class="card-content f-15">
                        <div class="content has-text-centered">
                            <p class="title is-5"><%= @gig.user.full_name %></p>
                        </div>
                        <article class="media">
                            <div class="media-content">
                                <i class="fas fa-user m-r-5"></i> Membre depuis
                            </div>
                            <div class="media-right">
                                <%= @gig.user.created_at.strftime('%b %Y') %>
                            </div>
                        </article>
                        <article class="media">
                            <div class="media-content">
                                <i class="fas fa-map-marker-alt m-r-5"></i> From
                            </div>
                            <div class="media-right">
                                <%= @gig.user.from %>
                            </div>
                        </article>
                        <article class="media">
                            <div class="media-content">
                                <%= @gig.user.about %>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
  </div>
</section>
<script>
  BulmaCarousel.attach('#carousel-photo', {
    slidesToScroll: 1,
    slidesToShow: 1
  });

  $(document).ready(function() {
    $('#tabs li').on('click', function() {
      var type = $(this).data('tab');

      $('#tabs li').removeClass('is-active');
      $(this).addClass('is-active');

      $('.tab-content').hide();
      $('#tab-' + type).show();
    }) 
  })

</script>


<div class="modal" id="contact-form">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Send a Message</p>
            <button class="delete toggle-contact" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="columns">
                <div class="column is-one-third">
                    <div class="card" st>
                        <div class="card-content is-horizontal-center is-flex">
                            <figure class="image is-128x128">
                                   <%= image_tag avatar_url(@gig.user), class: "is-rounded" %>
                            </figure>
                        </div>
                        <div class="card-content">
                            <hr>
                            <strong>Please include:</strong>
                            <ul class="is-size-7" style="list-style:initial">
                                <li>Project description</li>
                                <li>Specific instructions</li>
                                <li>Relevant files</li>
                                <li>Your budget</li>
                            </ul>
                        </div>
                     </div>
                </div>   
                <div class="column">
                    <%= form_with model: Message.new do |f| %>
                    <%= f.hidden_field :receiver_id, value: @gig.user.id %>
                    <div class="card-content">
                        <div class="field">
                            <div class="control">
                          <%= f.text_area :content, class: "textarea" %>
                            </div>
                        </div>
                        <%= f.submit "Send", class: "button is-danger is-pulled-right" %>
                                                    
                    </div>
                    <% end %>
                </div>
            </div>
        </section>
    </div>
</div>
<script>
    var toggle_modals = $('.toggle-contact');
    if (toggle_modals) {
        toggle_modals.on('click', function(event) {
            event.stopPropagation();
            event.preventDefault();
            var form = document.getElementById('contact-form');
            form.classList.toggle('is-active');
        });
    }
</script>

