<section class="hero is-fullheight">
  <div class="hero-body mt-6">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-6-table is-6-desktop is-6-widescreen">
          <div class="card-template">
            <div class="field has-text-centered">
              <h3 class="title is-3">Creer un compte</h3>
            </div>

                <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                <%= render "devise/shared/error_messages", resource: resource %>

                <div class="field">
                  <%= f.label "Nom complet", class: "label" %>
                  <%= f.text_field :full_name, autofocus: true, placeholder: "Nom complet", autocomplete: "full_name", class: "input input-grey" %>
                </div>

                <div class="field">
                  <%= f.label "Votre adresse e-mail", class: "label" %>
                  <%= f.email_field :email, autofocus: true, placeholder: "Votre adresse e-mail", autocomplete: "email", class: "input input-grey" %>
                </div>

                <div class="field">
                  <%= f.label "Votre numero de téléphone", class: "label" %>
                  <%= f.phone_field :phone, placeholder: "Votre numero de téléphone", autocomplete: "phone", class: "input input-grey" %>
                </div>

                <div class="field">
                  <%= f.label "Mot de passe", class: "label"  %>
                  <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> characters minimum)</em>
                  <% end %><br />
                  <%= f.password_field :password, placeholder: "Mot de passe", autocomplete: "new-password", class: "input input-grey"%>
                </div>

                <div class="field">
                  <%= f.label "Confirmer mot de passe", class: "label"  %>
                  <%= f.password_field :password_confirmation, placeholder: "Confirmer mot de passe", autocomplete: "new-password", class: "input input-grey" %>
                </div>

                <div class="field">
                  <%= f.submit "S'enregistrer", class:  "button is-primary is-fullwidth m-t-10 m-b-10" %>
                </div>
              <% end %>

    
              <%= render "devise/shared/links" %>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>